$no: transparent;
$color: #DC0816;
$blue: #65AFEC;
$ff: #fff;
$f234: #f2f3f4;
$cc: #ccc;
$dd: #ddd;
$ee: #eee;
$c0: #000;
$c1: #111;
$c2: #222;
$c3: #333;
$c6: #666;
$c9: #999;
$s-5: 1rpx;
$s1: 2rpx;
$s1-5: 3rpx;
$s2: 4rpx;
$s2-5: 5rpx;
$s3: 6rpx;
$s3-5: 7rpx;
$s4: 8rpx;
$s4-5: 9rpx;
$s5: 10rpx;
$s5-5: 11rpx;
$s6: 12rpx;
$s6-5: 13rpx;
$s7: 14rpx;
$s7-5: 15rpx;
$s8: 16rpx;
$s8-5: 17rpx;
$s9: 18rpx;
$s9-5: 19rpx;
$s10: 20rpx;
$s10-5: 21rpx;
$s11: 22rpx;
$s11-5: 23rpx;
$s12: 24rpx;
$s12-5: 25rpx;
$s13: 26rpx;
$s13-5: 27rpx;
$s14: 28rpx;
$s14-5: 29rpx;
$s15: 30rpx;
$s15-5: 31rpx;
$s16: 32rpx;
$s16-5: 33rpx;
$s17: 34rpx;
$s17-5: 35rpx;
$s18: 36rpx;
$s18-5: 37rpx;
$s19: 38rpx;
$s19-5: 39rpx;
$s20: 40rpx;
$s20-5: 41rpx;
$s21: 42rpx;
$s21-5: 43rpx;
$s22: 44rpx;
$s22-5: 45rpx;
$s23: 46rpx;
$s23-5: 47rpx;
$s24: 48rpx;
$s24-5: 49rpx;
$s25: 50rpx;
$s25-5: 51rpx;
$s26: 52rpx;
$s26-5: 53rpx;
$s27: 54rpx;
$s27-5: 55rpx;
$s28: 56rpx;
$s28-5: 57rpx;
$s29: 58rpx;
$s29-5: 59rpx;
$s30: 60rpx;
$s30-5: 61rpx;
$s31: 62rpx;
$s31-5: 63rpx;
$s32: 64rpx;
$s32-5: 65rpx;
$s33: 66rpx;
$s33-5: 67rpx;
$s34: 68rpx;
$s34-5: 69rpx;
$s35: 70rpx;
$s35-5: 71rpx;
$s36: 72rpx;
$s36-5: 73rpx;
$s37: 74rpx;
$s37-5: 75rpx;
$s38: 76rpx;
$s38-5: 77rpx;
$s39: 78rpx;
$s39-5: 79rpx;
$s40: 80rpx;
$s40-5: 81rpx;
$s41: 82rpx;
$s41-5: 83rpx;
$s42: 84rpx;
$s42-5: 85rpx;
$s43: 86rpx;
$s43-5: 87rpx;
$s44: 88rpx;
$s44-5: 89rpx;
$s45: 90rpx;
$s45-5: 91rpx;
$s46: 92rpx;
$s46-5: 93rpx;
$s47: 94rpx;
$s47-5: 95rpx;
$s48: 96rpx;
$s48-5: 97rpx;
$s49: 98rpx;
$s49-5: 99rpx;
$s50: 100rpx;